/*  start of general styling  */
:root {
  --primary-color: #ff206e;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ffffff63;
  cursor: pointer;
  transition: 0.5s all;
}
.icon:hover {
  border: 1px solid #fff;
}
.icon i {
  transition: 0.5s all;
}
.icon:hover i {
  color: var(--primary-color);
}
.main-title h2 {
  font-size: 5rem;
  letter-spacing: 20px;
  color: #f2f2f2;
}
.main-title h3::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 80px;
  height: 2px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/*  end of general styling  */

/*  start of navbar */
nav.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}
nav .navbar-nav .nav-link.active,
.nav navbar-nav .nav-link.show {
  color: var(--primary-color);
  position: relative;
}

nav .nav-link {
  color: #fff;
}
nav .nav-link:hover {
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  nav .navbar-nav .nav-link.active::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
  }
}

/*  end of navbar */

/*  start of home section */

#home {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../images/bg-image.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#home .home-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
#home a {
  color: var(--primary-color);
}

/*  end of home section */

/*  start of about section  */
#about {
  background-image: url("../images/light_dot.jpg");
}
#about p.lead {
  color: var(--primary-color);
}

.main-flip-animation {
  perspective: 1200px;
}
.animate-3d {
  position: relative;
  width: 100%;
  height: 600px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.5s all;
}
.animate-3d:hover {
  transform: rotateY(180deg);
}
.animate-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
}
.back {
  transform: rotateY(180deg);
}
/*  end of about section  */

/*  start of service section  */
#service {
  background-image: url("../images/dark_dot.jpg");
}
#service .ser-inner {
  cursor: pointer;
}
#service .ser-inner h2::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 80px;
  height: 2px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all;
}
#service .ser-inner:hover h2::after {
  width: 150px;
}
/*  end of service section  */

/*  start of slider section  */
#slider .carousel-indicators [data-bs-target] {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-indent: 0;
}

/*  start of slider section  */

/*  start of tabs section  */

#tabs .nav-tabs .nav-item.show .nav-link,
#tabs .nav-tabs .nav-link.active {
  color: var(--primary-color);
}
#tabs .nav-tabs .nav-link {
  color: gray;
}
#about h2.demo{
  cursor: pointer;
}
/*  end of tabs section  */
